@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioDT191G</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioDT191G.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="above">
            <div class="language-container above-items" onclick="toggleTranslateWidget()">
                <i class="fas fa-language language"></i>
                <p id="lang-text">Language</p>
            </div>

            <div id="google_translate_element" style="display: none;"></div>

            <div class="light-container above-items">
                <i class="fa-solid fa-circle-half-stroke dark-light"></i>
                <p>Color mode</p>
            </div>
            <div class="login-container above-items">
                <i class="fa-regular fa-user login"></i>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="login">
                        <a asp-area="Identity" asp-page="/Account/Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="login">
                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }

            </div>
        </div>
        <div class="under">
            <h1 class="logo"><a asp-controller="Home" asp-action="Index">Portfo<span class="logo lio">lio</a></span>
            </h1>
            <div class="menu-icon">
                <i class="fa-solid fa-bars open-icon"></i>
            </div>
            <div class="menu-close-icon">
                <i class="fa-solid fa-xmark close-icon"></i>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="menu">
                    <li><a asp-controller="Course" asp-action="Index">Courses</a></li>
                    <li><a asp-controller="Framework" asp-action="Index">Frameworks</a></li>
                    <li><a asp-controller="Skill" asp-action="Index">Skills</a></li>
                </ul>
            }
            else
            {
                <ul class="menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            }
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
