@{
    ViewData["Title"] = "Home Page";
}

<section class="upper-section">
    <div class="intro-container" id="home">
        <div class="intro">
            <h1 class="first">Hi,</h1>
            <p class="second">My Name Is</p>
            <p class="third">Andreas Nygård</p>
            <br>
            <p class="fourth">Web Developer</p>
            <br>
            <button class="contact">Contact</button>
        </div>
        <div>
            <img src="images/laptop.jpg" alt="Laptop" class="laptop">
        </div>
    </div>
</section>