* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    line-height: 1.7em;
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
}