/* FOOTER */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.footer-socials a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: #3a3a8e;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.footer-links li {
    display: inline-block;
    margin: 0 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a,
.footer-contact a:hover,
.footer-links li a:hover {
    color: #3a3a8e;
}

.footer-contact p {
    margin: 0.5rem 0;
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.footer-contact a {
    transition: color 0.3s ease;
}